<a href="https://colab.research.google.com/github/RIDZYDEVELOPER/PORTOFOLIO/blob/main/Salinan_dari_Menghitung_Nilai_Rata_Rata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Program Menghitung Nilai Rata-Rata Siswa

jumlah_siswa = int(input("Masukkan jumlah siswa: "))

data_siswa = []

for i in range(jumlah_siswa):
    print(f"\nSiswa ke-{i+1}")
    nama = input("Nama siswa: ")

    jumlah_nilai = int(input("Berapa banyak nilai yang ingin dimasukkan? "))
    total = 0

    for j in range(jumlah_nilai):
        nilai = float(input(f"Nilai ke-{j+1}: "))
        total += nilai

    rata_rata = total / jumlah_nilai
    data_siswa.append((nama, rata_rata))

print("\n=== HASIL RATA-RATA NILAI SISWA ===")
for nama, rata in data_siswa:
    print(f"Nama: {nama} | Rata-rata nilai: {rata:.2f}")

Masukkan jumlah siswa: 10

Siswa ke-1
Nama siswa: arya
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 80
Nilai ke-2: 85
Nilai ke-3: 90
Nilai ke-4: 91
Nilai ke-5: 75

Siswa ke-2
Nama siswa: siti
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 75
Nilai ke-2: 70
Nilai ke-3: 62
Nilai ke-4: 70
Nilai ke-5: 80

Siswa ke-3
Nama siswa: ade
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 80
Nilai ke-2: 87
Nilai ke-3: 92
Nilai ke-4: 67
Nilai ke-5: 77

Siswa ke-4
Nama siswa: putra
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 80
Nilai ke-2: 66
Nilai ke-3: 76
Nilai ke-4: 65
Nilai ke-5: 70

Siswa ke-5
Nama siswa: george
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 69
Nilai ke-2: 88
Nilai ke-3: 75
Nilai ke-4: 80
Nilai ke-5: 85

Siswa ke-6
Nama siswa: alex
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 96
Nilai ke-2: 87
Nilai ke-3: 89
Nilai ke-4: 96
Nilai ke-5: 91

Siswa ke-7
Nama siswa: bagus
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 98
Nilai ke-2: 90
Nilai ke-3: 88
Nilai ke-4: 79
Nilai ke-5: 81

Siswa ke-8
Nama siswa: jarwo
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 87
Nilai ke-2: 93
Nilai ke-3: 68
Nilai ke-4: 94
Nilai ke-5: 89

Siswa ke-9
Nama siswa: clara
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 66
Nilai ke-2: 87
Nilai ke-3: 69
Nilai ke-4: 79
Nilai ke-5: 80

Siswa ke-10
Nama siswa: leo
Berapa banyak nilai yang ingin dimasukkan? 5
Nilai ke-1: 95
Nilai ke-2: 89
Nilai ke-3: 94
Nilai ke-4: 90
Nilai ke-5: 98

=== HASIL RATA-RATA NILAI SISWA ===
Nama: arya | Rata-rata nilai: 84.20
Nama: siti | Rata-rata nilai: 71.40
Nama: ade | Rata-rata nilai: 80.60
Nama: putra | Rata-rata nilai: 71.40
Nama: george | Rata-rata nilai: 79.40
Nama: alex | Rata-rata nilai: 91.80
Nama: bagus | Rata-rata nilai: 87.20
Nama: jarwo | Rata-rata nilai: 86.20
Nama: clara | Rata-rata nilai: 76.20
Nama: leo | Rata-rata nilai: 93.20

# Bagian Baru

In [ ]:
# Menghitung rata-rata 1 siswa dengan 5 nilai

nama = input("Masukkan nama siswa: ")

n1 = float(input("Masukkan nilai 1: "))
n2 = float(input("Masukkan nilai 2: "))
n3 = float(input("Masukkan nilai 3: "))
n4 = float(input("Masukkan nilai 4: "))
n5 = float(input("Masukkan nilai 5: "))

rata_rata = (n1 + n2 + n3 + n4 + n5) / 5

print("\n=== HASIL ===")
print("Nama Siswa :", nama)
print("Rata-rata Nilai :", round(rata_rata, 2))